<p>Hi Admin,<p><br />

<p>The system failed performing <%= @job_type %> with Mailchimp due to <%= @exception_title %>: <%= @exception_detail %>. Please contact the technical team for further assistance.
</p>

<p>Regards</p>
<p>SPREE MARKETING TEAM</p>

