<p>Hi Admin<p>,<br />

<p>System was unable to process <%= @job_type %> request.<p>

<p>The following error occurred.</p>

<p><%= @exception_message %></p>

<p>Please contact the administrator for further details.</p>

<p>Regards</p>
<p>SPREE MARKETING TEAM</p>

